.form {
    display: flex;
    flex-direction: column;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    text-align: left;
    width: 360px;

}


.input-form {
    width: 328px;
    height: 40px;
    padding: 0 16px;
    margin: 0;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;

}

.input-form:hover {
    border: 1px solid black;
}

.fieldset {
    width: 360px;
    height: 78px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 24px;
    padding: 24px 48px 8px;
    box-sizing: border-box;
    border-radius: 4px;
    stroke-width: 1px;
    stroke: #808080;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 48px;
}

.fieldset:hover {
    border: 1px solid black;
}

legend {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #2e2f42;
}

.label-fieldset {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    color: #2e2f42;
    cursor: pointer;

}

.input-fieldset {
    border-radius: 50%;
    cursor: pointer;
    border: 1px solid #757575;
    border-radius: 14px;
    width: 20px;
    height: 20px;

}

.input-fieldset:checked {
    border-color: #fff;
    background-color: #4e75ff;
}


button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: #4e75ff;
    border-radius: 8px;
    padding: 8px 16px;
    width: 360px;
    height: 40px;
    border: none;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
}

button:hover {
    background-color: #6c8cff;
}